.sidebar {
    padding: 15px 0 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.sidebar-sticky {
    /* height: calc(100vh - 48px); */
    height: 100vh;
    overflow-y: auto;
}

.nav-link {
    color:rgb(0 0 0 / 40%);
}

.dropdown {
    padding-right: 10px;
}